body {
  font-family: Arial;
  padding: 20px;
}

input {
  display: block;
  margin: 6px 0;
  padding: 6px;
}

button {
  padding: 6px 12px;
}

#result {
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
  border-collapse: collapse;
}

#result td,
#result th {
  padding: 15px;
}
